.header{
    height: 100px;
    display : flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    justify-content: space-between;
    margin-left : 150px;
    margin-right : 150px;
}

.login-btn {
    background: #79bcff;
    height: 70px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border-color: aliceblue;
}

.btn-text{
    color: white;
    font-size: 38px;    
}

.menu {
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: block;
  color: white;
  background-color:#07427e;
  border-radius: 18px;
}

.list-component{
  font-size: 20px;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.list-component:hover{
  background-color:white;
  color: black;
  border-radius: 8px;
}

.profile-btn{
  background-color: white;
  border:none;
  font-size: 30px;
}

.home{
}

.btn-container{
  text-align: left;
  padding-left :20px;
  padding-bottom: 10px;
  margin-left : 150px;
  margin-right : 150px;
  border-bottom: 2px solid rgb(165, 204, 229);
}

.main-btn {
  margin-bottom: 3px;
  display: inline-block;
  margin-left: 30px;
  font-size: 35px;
  color:#4ca5fd;
  border: none;
  background-color: white;
}

.main-btn:hover{
  border-bottom:3px solid #4ca5fd;
}

.sub-btn-container{   
  text-align: left;
  padding-left :5%;
  padding-bottom: 10px;
  margin-left : 80px;
  margin-right : 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
 
.sub-btn{
  width: 150px;
  height: 50px;
  color: rgb(62, 59, 243);
  border-radius: 100px;
  font-weight: 500;
  background-color: aliceblue;
  cursor: pointer;
  position: relative;
  display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(60, 167, 255, 0.1),
    4px 4px 5px 0px rgba(60, 167, 255, 0.1);
  outline: none;
  margin-left: 10px;
  margin-top : 20px;
  font-size: 20px;
}

.post-container{
    width: 90%;
    justify-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-left: 5%;
}

.post-header{
  margin-left : 150px;
  marginn-right : 150px;
  text-align: left;
  font-size: 30px;
  color:#4ca5fd;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(165, 204, 229);
  margin-bottom: 40px;
}

.post{
  overflow: hidden;
  width: 350px;
  height: 450px;
  border : 2px solid rgb(7, 135, 255);
  border-radius: 30px;
  margin-bottom :30px;
  transition: 0.6s;
}

.post:hover{
  transform: scale(1.05);
}

.post-title{
  margin-top: 10px;
  padding : 5px 5px 10px 5px;
  font-size: 50px;
  border-bottom: 1px solid rgb(7, 135, 255);
  border-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.post-content{
  padding-top:80px;
  padding-bottom: 100px;
  text-align: center;
}

.post-footer{
  border-top:1px solid rgb(7, 135, 255);
  text-align: left;
  padding :20px 5px 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.profile-photo{
  width: 40px;
  height: 40px;
}

.icons{
  display: flex;
  justify-content: space-between;
}

.etc-num{
  padding-right: 5px;
  font-size: 20px;
  color:gray;
}

.banner-container{
  z-index: 1;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  background-color: #4ca5fd;
  text-align: center;
  font-size: 50px;
}

.etc-icon{
  margin-right: 2px;
}

.owner{
  display: flex;
  margin-top: 5px;
}

.owner-name{
  font-size: 25px;
  margin-top: 0px;
}

.toggleSwitch {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

 /* 토글 버튼 */
.toggleSwitch .toggleButton {
  /* 버튼은 토글보다 작아야함  */
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #005de9;
}

#toggle:checked ~ .toggleSwitch {
  background:  #005de9;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 44px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

.toggle-btn{
  display: flex;
  justify-content: right;
  padding : 1% 10% 0% 10%;
}

.toggle-btn-name{
  text-align: center;
  margin-top: 5px;
  font-size: 30px;
  margin-right: 5px;
}

.division-btn{
  text-align: left;
  padding-left :4.5%;
  padding-bottom: 10px;
  margin-right : 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.Modal{
  background-color: #005de9;
}

.login-form{
  text-align: center;
  background-color: #a2c5fa;
  width: 100%;
  height: 80%;
}

.login-input-text{
  font-size: 20px;
}

.login-input{
  width: 300px;
  height: 30px;
  border : none;
  border-radius: 10px;
}

.login-modal-btn {
  background: aliceblue;
  height: 70px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: aliceblue;
}

.login-btn-text{
  font-size: 30px;
  color: #005de9;
}

.login-title{
  font-size: 50px;
  margin-bottom: 0px;
  padding: 4px;
  color: #005de9;
}

.comment{
  border: 2px solid rgb(184, 194, 204);
  border-radius: 10px;
  padding-left : 10px;
  margin-bottom: 10px;
}

.comment-input-container{
  border-bottom: 1.5px solid rgb(207, 207, 207);
  margin-bottom :10px;
}

.comment-input{
  width: 85%;
  height: 30px;
  padding-bottom: 0px;
  border:none;
}

.comment-input:focus{
  outline: none;
}

.comment-btn{
  border : none;
  background-color: white;
  width: 70px;
  height: 30px;
}

.comment-btn:hover{
  background-color: rgb(238, 238, 238);
}

.comment-sub-btn-container{
  padding-right: 3px;
}

.comment-btns{
  border: none;
  background-color: #fff;
}

.comment-sub-btn:hover{
  border-bottom: 1px solid rgb(207, 207, 207);
}

.sub-comment-input-container{
  border-bottom : 1.5px solid rgb(207, 207, 207);
  margin-right : 14px; 
  margin-bottom : 7px;
}

.sub-comment-input{
  width: 85%;
  height: 20px;
  padding-bottom: 0px;
  border:none;
}

.sub-comment-input:focus{
  outline: none;
}

.sub-comment-btn{
  border : none;
  background-color: white;
  width: 70px;
  height: 30px;
}

.sub-comment-btn:hover{
  background-color: rgb(238, 238, 238);
}

.writer-content{
  margin : 0px;
  display:flex;
  justify-content: space-between;
}

.writer{
  font-size: 30px;
}

.comment-content{
  margin-top : 5px;
  margin-bottom: 5px;
  font-size: 17px;
}

.url-footer{
  
}

.adder-btn{
  position: fixed;
  border: none;
  border-radius: 50px;
  border: 1.5px solid rgb(168, 214, 255);
  background-color: aliceblue;
  right: 7%;
  bottom: 3%;
  width: 70px;
  height: 70px;
}

.adder-btn:hover{
  background-color: #d5e6ff;
}

.top-btn{
  position: fixed;
  border: none;
  border-radius: 50px;
  border: 1.5px solid rgb(168, 214, 255);
  background-color: aliceblue;
  right: 2%;
  bottom: 3%;
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.top-text{
  color : #2586e7;
}

.top-btn:hover{
  background-color: #d5e6ff;
}