.posting {
  margin-top: 5%;
  margin-left:20%;
  margin-right:20%;
}

.postingDay {
  text-align: right;
  color: gray;
}

.postingTitle {
  text-align: left;
}

.updateBtn {
  float:right;
  margin-right:2%;
}

.deleteBtn {
  float:right;
}

.bookmarkBtn {
  float:right;
  margin-right:1%;
}

.bookmarkCnt {
  float:right;
}

.userProfile {
  margin-right:1%;
}

.postingInfo {
  margin-bottom:5%;
  margin-right:5%;
  margin-left: 5%;
}

.ck-editor__editable { 
  height: 400px; 
  color: black;
}
