.myInfoPage {
    margin-left:15%;
    margin-right:15%;
    margin-bottom:15%;
    margin-top:3%;
}

.myInfoMenu {
    padding-right:120px;
    padding-left:50px;
    padding-top:50px;
    padding-bottom:50px;
    border: 2.3px solid gainsboro;
    border-radius: 10px;
}

.userInfo {
    margin-bottom:20px;
}

.myInfo{
    padding:3% 20% 10% 20%;
    border: 2.3px solid gainsboro;
    border-radius: 10px;
}

.myInfoTab {
    margin-left:10px;
    padding-left:10%;
    padding-right:18%;
    padding-top:3%;
    padding-bottom:5%;
    border: 2.3px solid gainsboro;
    border-radius: 10px;
}


.myInfoBtn {
    margin-bottom:20%;
}

.myInfoMenu:hover {
    transform: scale(1.02);
}

.info {
    margin-left:50px;
    margin-right:300px;
}

.myPage {
    margin:5%;
}

.change-profile {
    background-color: rgba(236, 236, 236, 0.842);
    border: 0.8px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 5px;
    margin-top: 0px;
}

.myInfoNickname {
    margin-top:5px;
}

.goBack {
    margin-bottom:1%;
}