.myInfoPage {
    margin-left:15%;
    margin-right:15%;
    margin-bottom:15%;
}

.myInfoMenu {
    padding-right:120px;
    padding-left:50px;
    padding-top:50px;
    padding-bottom:50px;
    margin-right:50px;
    border: 2.3px solid gainsboro;
    border-radius: 10px;
}

.userInfo {
    margin-bottom:50px;
}

.myInfo{
    padding:3% 10% 10% 10%;
    border: 2.3px solid gainsboro;
    border-radius: 10px;
    float:left;
}

.myInfoTab {
    margin-left:4px;
    padding-left:10%;
    padding-right:18%;
    padding-top:3%;
    padding-bottom:8%;
    border: 2.3px solid gainsboro;
    border-radius: 10px;
    width: 80%;
}

.myInfoBtn {
    margin-bottom:20%;
}

.myInfoMenu:hover {
    transform: scale(1.02);
}

.info {
    margin-left:50px;
    margin-right:300px;
}

.myPage {
    margin:2%;
}

.change-profile {
    background-color: rgba(236, 236, 236, 0.842);
    border: 0.8px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 5px;
    margin-top: 0px;
}

.myInfoNickname {
    margin-top:5px;
}

.goBack {
    margin-bottom:1%;
}

.icon {
    float:right;
}

.text {
    margin-top:3px;
    margin-right:2%;
    margin-left:1%;
    float:right;
}

.button {
    margin-top:22px;
}

.card {
    margin:0;
    margin-top:2%;
    margin-bottom:1%;
}

.poster {
    margin:0;
}

.input{
    margin-top:1%;
    margin-bottom:2.5%;
}

.color {
    color: #096dd9 !important;
}